#report-header{
	width: 1000px;
	margin: 0 auto;
	border-bottom: 3px solid gray;
	color: black;
	padding-top: 20px;
	padding-right: 0px;
	position: relative;
}

#report-header #report-title{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 30px;
	font-style: bold;
	margin-bottom: 0px;
	padding-left: 10px;
}

#report-header #report-info{
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 30px;
	width: 420px;
}

#report-header #report-info li{
	text-align: left;
	list-style: square;
	font-size: 15px;
    margin: 10px;
}

#report-area{
	width: 1000px;
	margin: 0 auto;
	padding-top: 5px;
}

#report-area #report-cases{
	width: 400px;
	float: left;
	margin-top: 10px;
	margin-right: 3px;
	margin-left:10px;
	margin-bottom: 10px;
}

#report-cases #suite-title{
	margin-top: 10px;
}


.case-details{
	width: 556px;
	float: left;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px;
	margin-left:-3px;
	border-left: 3px solid gray;
	padding-left: 10px;
	display: none;
}

.clear{
	clear: both;
}


#suite-title, .case-details #details-title{
	font-size: 20px;
	margin-top: 10px;
}

#case-titles {
	margin: 0px;
	padding: 10px;
	padding-top: 0px;
}

#case-titles li{
	margin-left: 5px;
	margin-top: 0px;
	padding: 0px;
	height: 30px;
	line-height: 30px;
	list-style: disc;
	font-size: 10px;
	border-bottom: 1px solid gray;
}

#step-details, #test-results, #snapshoot-list{
	margin: 0px;
	padding: 20px;
}

#step-details, #test-results{
	border-bottom: 1px solid gray;
}

#detail-title{
	font-size: 10px;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
}


#step-details li, #test-results li{
	margin: 0px;
	padding: 0px;
	height: 30px;
	line-height: 30px;
	list-style: disc;
	font-size: 10px;
}

.expect-result{
	background-color: yellow;
}

.actual-result-pass{
	background-color: green;
}

.actual-result-fail{
	background-color: red;
}

#step-title, #result-title, #snapshoot-title,#case-title{
	font-size: 15px;
	font-style: bold;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 0px;
}


#snapshoot-list li{
	display: none;
}

#snapshoot-display{
	margin: 10px;
	padding: 10px;
	border-bottom: 1px solid gray;
	position: relative;
}

#snapshoot-playing{
	vertical-align: middle;
	margin: 0 auto; 
	display: block;
	width: 350px;
}

#left-icon{
	width: 20px;
	height: 80px;
 	margin: auto;
 	position: absolute;
  	top: 0; 
  	bottom: 0; 
  	left: 30px;
}

#right-icon{
	width: 20px;
	height: 80px;
 	margin: auto;
  	position: absolute;
  	top: 0; 
  	bottom: 0; 
  	right: 30px;
}

#snapshoot-display p{
	text-align: center;
	font-size: 10px;
}


#my_container{
	float: left;
	height: 320px;
	width: 500px;
}

#pass-description{
	width: 20px;
	height: 15px;
	background-color: green;
	float: left;
	margin: 0px;
}

#fail-description{
	width: 20px;
	height: 15px;
	background-color: red;
	float: left;
	margin: 0px;
}

.desc-text{
	height: 15px;
	font-size: 10px;
	float: left;
	margin-right: 10px;
	line-height: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #996633;
}


#pass-desc {
	position: absolute;
	height: 15px;
	line-height: 15px;
	float: left;
}


#fail-desc {
	position: absolute;
	height: 15px;
	line-height: 15px;
	float: left;
	margin-top: 50px;
}

#header-info{
	float: left;
	margin-top: 20px;
	margin-left: 50px;
}

#report{
	width: 1000px;
	margin: 0 auto;
	border: 3px solid gray;
}

#report-header #report-logo{
	position: absolute;
	float: left;
	left: 360px;
	top: 160px;
	width: 100px;
	height: 100px;
}


#case-titles li:hover{
	cursor: pointer;
	color: blue;
}

#case-titles li:focus{
	color: blue;
}

#left-icon:hover,#right-icon:hover{
    cursor: pointer;
}

.case-pass{
	color: #89BB89;
}

.case-fail{
	color: red;
}